__pycache__
*.pdf
*.png
*.dat
*.root
*.confobj
*.joblib
.ipynb_checkpoints
.pyjetty_config_external
Pipfile
Pipfile.lock
*.pyc
/modules
*~
#*
*.log
*.run
pyjetty/alice_analysis/config/jet_axis/configs_broken_down_in_pT_and_jetR/round_*/
